*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;

}
.body{
	background-color: #141414;
}
.header{
	width: 100vw;
	height: 4rem;	
	background-color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: fixed;
}
.headermenu{
	width: 45vw;
	justify-content: space-around;
	display: flex;
}
.headermenu-netflix-img{
	height: 2rem;
}
.headermenu-opções{
	display: flex;
	align-items: center;
}
.headermenu-opções-lista{
	color: white;
	display: flex;
}
.headermenu-opções-lista-isfam{
	margin: 0 0.3rem;
}
.headermenu-bisp{
	width: 20vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.headermenu-bisp-busca{	
	padding: 0.25rem;
	height: 100%;
	display: flex;
	align-items: center;
}
.headermenu-bisp-busca-img{
	height: 2rem;
	display: flex;
}
.headermenu-bisp-buscaInput{
	height: 30px;
	display: none;
}
.headermenu-menu-bisp-i{
	display: flex;
}
.headermenu-bisp-i-img{
	color: white;
	display: flex;
}
.headermenu-bisp-s{
	display: flex;
}
.headermenu-bisp-s-img{
	width: 2rem;
	display: flex;
}
.headermenu-bisp-p{	
	display: flex;
}
.headermenu-bisp-p-img{
	height: 2rem;
}
.main{

}
.main-section{
	height: 100vh;
	width: 100%;
	background-image: url("./assets/download.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-end;
	align-content: space-around;
}
.main-section-amilismi{
	width: 25vw;
	height: 20vh;
	/*background-color: white;*/
	justify-content: flex-end;	
}
.mainsection-b-maisinformações-img{
	width: 10px;
	height: 10px;
	color: blue;
	border-radius: 50%;
	border: 0.5px solid blue;
	padding: 0 5px;
}
.main-section-slides{
	display: flex;
	flex-direction: column;
	/*background-color: yellow;*/
	/*justify-content: flex-end;*/
	align-items: center;
	/*background-color: red;*/
}
.main-section-slides-films-ml-milis{
	display: flex;
	width: 95%;
	/*background-color: green;*/
	justify-content: center;
}
.main-section-slides-films-ml{
	margin: 0 2rem;
	color: white;
	align-self: flex-start;
	/*background-color: yellow;*/
}
.main-section-slides-filmimg{
	width: 19%;
	/*background-color: blue;*/
	margin: 0.2rem;
}
.main-section-slides-filmimg:hover{
	transform: scale(1.2);
}
.main-section-slides-films-fil{
	margin: 0 2rem;
	align-self: flex-start;
	/*background-color: gray;*/
	color: yellow;
}
.main-section-slides-films-filmes{
	display: flex;
	align-items: center;
}
.main-section-slides-films-ml-milisback{
	display: none;
	align-items: center;
}
.main-section-slides-films-ml-milis-seta{
	font-size: 80px;
	color: white;
	align-items: center;
}

